@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Cinzel+Decorative:wght@400;700;900&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Oldenburg&family=Tangerine:wght@400;700&display=swap");
:root {
	--primary-color: #8e1527;
	--secondary-color: #463e6a;
	--background-color: #dfd9dc;
}

* {
	margin: 0;
	padding: 0;
}
